services:
    projects:
        network_mode: "host"
        container_name: ${COMPOSE_PROJECT_NAME}
        user: ${USER_ID}:${GROUP_ID}
        restart: unless-stopped
        build:
            context: ../
            dockerfile: scripts/php/Dockerfile
            args:
                PHP_IMAGE_VERSION: ${PHP_IMAGE_VERSION}
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
                APP_USER: ${APP_USER}
                NODE_VERSION: ${NODE_VERSION}
        volumes:
            - ../:/app
            - ./php/php.ini:/usr/local/etc/php/conf.d/php.ini
            - ./php/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
        tmpfs:
            - /dev/shm
        extra_hosts:
            - "host.docker.internal:host-gateway"
