echo
echo "===== Script started ====="
echo

cd ./nginx-proxy
sh scripts/start.sh
sh scripts/restart.sh

cd ../minio
sh scripts/start.sh
sh scripts/restart.sh

cd ../mailpit
sh scripts/start.sh
sh scripts/restart.sh

cd ../portainer
sh scripts/start.sh
sh scripts/restart.sh

echo
echo "===== Done! ====="
echo
